<!DOCTYPE html>
<html class="no-js">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hashflow</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="App">
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

	<div class="hashflow" ng-view=""></div>

	<!-- LÈ SCRIPTS-->
	<script src="/js/socket.io.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="/js/lodash.js"></script>
	<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

	<script src="/js/app.js"></script>
	<script src="/js/services/real.js"></script>
	<script src="/js/controllers/main.js"></script>

</body>
</html>
